In [21]:
import pandas as pd
df= pd.read_json('datasets/subtaskB_train.jsonl', lines=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71027 entries, 0 to 71026
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    71027 non-null  object
 1   model   71027 non-null  object
 2   source  71027 non-null  object
 3   label   71027 non-null  int64
 4   id      71027 non-null  int64
dtypes: int64(2), object(3)
memory usage: 2.7+ MB

In [25]:
df.sample(5)

,text,model,source,label,id
1659,Wiring an amplifier to both a sub and head uni...,chatGPT,wikihow,1,1659
57094,"Wesley O. Smith was an American physician, re...",cohere,wikipedia,2,57094
43726,"Name it something well-chosen (not Buggy).\n,...",human,wikihow,0,43726
39313,"In this work, we investigate the counting of B...",chatGPT,arxiv,1,39313
12078,"Avantika Shetty is an Indian actress, model, ...",cohere,wikipedia,2,12078

In [15]:
print(df['model'].value_counts())
print(df['source'].value_counts())
print(df['label'].value_counts())

model
chatGPT    500
human      500
davinci    500
cohere     500
bloomz     500
dolly      500
Name: count, dtype: int64
source
peerread    3000
Name: count, dtype: int64
label
1    500
0    500
3    500
2    500
4    500
5    500
Name: count, dtype: int64

In [16]:
df['text_length'] = df['text'].apply(len)
df['text_length'].describe()

count    3000.000000
mean     1561.540000
std      1007.069462
min        32.000000
25%       897.000000
50%      1294.000000
75%      1938.000000
max      7595.000000
Name: text_length, dtype: float64

In [18]:
import pandas as pd

# Load the datasets
dev_df = pd.read_json('datasets/subtaskB_dev.jsonl', lines=True)
train_df = pd.read_json('datasets/subtaskB_train.jsonl', lines=True)
# Unique values in the 'model' column of the dev dataset
unique_models_dev = dev_df['model'].unique()
print("Unique models in dev dataset:")
print(unique_models_dev)

# Unique values in the 'model' column of the train dataset
unique_models_train = train_df['model'].unique()
print("\nUnique models in train dataset:")
print(unique_models_train)

Unique models in dev dataset:
['chatGPT' 'human' 'davinci' 'cohere' 'bloomz' 'dolly']

Unique models in train dataset:
['chatGPT' 'human' 'cohere' 'davinci' 'bloomz' 'dolly']